{% extends 'base.html' %}
{% block title %} Kinderzentrum - Administración de usuarios {% endblock %}

{% block css %}

    <link rel="stylesheet" href="/static/css/bootstrap.css" />
  
{% endblock css %}

{% block js %}

{% endblock js %}

{% block content %}

	{% if registro_usuario %}
		<div id="registro_usuario">
			<form action="." method="POST">
				{% csrf_token %}	
				<div id="errorMsg" class="fade-in one">{{ mensaje }}</div>
				{{ registro_usuario.as_p }}
				<input id="loginBtn" type="submit" value="Guardar">
			</form>
		</div>
	{% elif registro_usuario_correcto %}
	<div id="registro_usuario_correcto">
		{{ mensaje }}
		<ul id="permisos">
			{% for per in permisos %}
			<li>{{ per|title }}</li>
			{% endfor %}
		</ul>
	</div>
	{% elif usuarios %}
	<div id="usuarios">
		{{ usuarios.management_form }}
		  <table class="table table-bordered table-condensed">
                    <tr>
                        <th>Nombre de usuario</th>
                        <th>Nombre</th>
                        <th>Permisos</th>
                    </tr>
                    {% for form in usuarios %}
                        {{ form.id }}
                        <tr class="formset-usuario_set">
                            <td>{{form.username}}</td>
                            <td>{{form.first_name}}</td>
                            <td>{{form.grupos}}</td>
                        </tr>
                    {% endfor %}
                </table>
	</div>
	{% endif %}

{% endblock %}
