{% extends 'base.html' %}
{% block title %} Kinderzentrum - ficha medica{% endblock %}

{% block js %}
<script>
  $(function() {
    $( ".datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: "1950:2012",
      // Podemos poner mas opciones
    });
  });
  </script>
{% endblock js %}

{% block content %}
<br> Registro de ficha medica

<form action="." method="POST">

	{% csrf_token %}
	{{ mensaje }}
	{{ ficha_datos_form.as_p }}
	<hr>
	{{ ficha_datos_form.as_p }}
	<input id="enviar" type="submit" value="Guardar Datos">
</form>


{% endblock %}