{% extends 'base.html' %}
{% block title %} Kinderzentrum - Ficha Clínica {% endblock %}

{% block css %}
	<link rel="stylesheet" href="/static/css/jquery-ui.css" />
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/registro.css" />      
{% endblock css %}

{% block js %}

{% endblock js %}

{% block content %}
<div class="dotstyle dotstyle-tooltip" style="margin: 4% 0px 1% 40%;">			
	<ul id="dots_nav">
		<li id="nav1" onclick="setPanelVisible(1)" class="current" ><a href="#">Paciente</a></li>
		<li id="nav2" onclick="setPanelVisible(2)"><a href="#" >Familiares</a></li>
		<li id="nav3" onclick="setPanelVisible(3)"><a href="#">Médico</a></li>
		<li id="nav4" onclick="setPanelVisible(4)"><a href="#">Descripción del niño(a)</a></li>		
		<li id="nav5" onclick="setPanelVisible(5)"><a href="#">Historial de la madre</a></li>
		<li id="nav6" onclick="setPanelVisible(6)"><a href="#">Gestación</a></li>		
		<li id="nav7" onclick="setPanelVisible(7)"><a href="#">Nacimiento</a></li>		
		<li id="nav8" onclick="setPanelVisible(8)"><a href="#">Datos del Recién Nacido</a></li>		
		<li id="nav9" onclick="setPanelVisible(9)"><a href="#">Primeros Días de Vida</a></li>		
		<li id="nav10" onclick="setPanelVisible(10)"><a href="#">Alimentación y Costumbres</a></li>		
		<li id="nav11" onclick="setPanelVisible(11)"><a href="#">Historia Familiar</a></li>		
	</ul>
</div>

<form action="." method="POST">
	{% csrf_token %}		

	<div id="panel1" class="show panel panel-default">
		<div class="panel-heading">Datos del Paciente</div>
		<div class="panel-body">			
	  		{% for field in ficha_datos_form %}
	  			<div class="row">
		  			<!--div class="form-group col-xs-7 col-lg-1"-->
		  			<div class="form-group span6">
			    		<label for="code" style="width: 20%;">{{field.label}}</label>
			    		{% if field.label == "Sexo" %}
			    			{% for radio in ficha_datos_form.sexo%}
								
								<label class="radio-inline" style="margin: 5px 0px 10px;" for="{{ radio.id_for_label}}">
									{{radio.tag}}
									{{ radio.choice_label }}
								</label>

							{% endfor %}
						
			      		{% else %}
			      		{{ field }}
			      		{% endif %}
	      			</div>
	      		</div>
	      	{% endfor %}		   
		</div>
	</div>

	<div id="panel2" class="hide panel panel-default">
		<div class="panel-heading">Datos Familiares</div>
		<div class="panel-body">			
			{% for field in ficha_datos_familia_form %}
	  			<div class="row">		  			
		  			<div class="form-group span6">
			    		<label for="code" style="width: 20%;">{{field.label}}</label>
			      		{{ field }}			      		
	      			</div>
	      		</div>

				{% if forloop.counter == 4 %}
					<h4>Trabajo</h4>
				{% endif %}
				{% if forloop.counter == 7 %}
					<h4>Domicilio</h4>
				{% endif %}
	      	{% endfor %}
		</div>
	</div>

	<div id="panel3" class="hide panel panel-default">
		<div class="panel-heading">Datos del M&eacute;dico</div>
		<div class="panel-body">			
			{% for field in ficha_datos_medico_form %}
	  			<div class="row">		  			
		  			<div class="form-group span6">
			    		<label for="code" style="width: 20%;">{{field.label}}</label>
			      		{{ field }}			      		
	      			</div>
	      		</div>

	      	{% endfor %}
		</div>
	</div>


	<div id="panel4" class="hide panel panel-default">
		<div class="panel-heading">Descripcion del niño</div>
		<div class="panel-body">			
			{% for field in descripcion_paciente %}
	  			<div class="row">		  			
		  			<div class="form-group span6">
			    		<label for="code" class="col-xs-2" style="margin-left:2%">{{field.label}}</label>			      		
			      		{% if field.label == "Que tipo de terapia realiza?" or field.label == "Ha presentado su hijo(a) algun tipo de dificultades en estas aereas? marque todas las opciones que desee." %}		    			
			    			{% for choice in field.field.choices%}			    				
			    				{%if choice.0 == 'seguridad_si_mismo' or choice.0 == 'suenio' %}<label class="checkbox-inline" style="margin-left: 3%;">{% else %}<label class="checkbox-inline">{% endif %}
								  	<input type="checkbox" id="{{choice.0}}" value="{{choice.0}}" style="margin: 3px 0px 0px -90px; cursor: pointer;"> {{choice.1}}
								</label>								
			    			{% endfor%}
			      		
			      		{% else %}
			      		{{ field }}	
			      		{% endif %}
	      			</div>
	      		</div>
	      	{% endfor %}
		</div>
	</div>

	<div id="panel5" class="hide panel panel-default">
		<div class="panel-heading">Historial de la Madre</div>
		<div class="panel-body">			
			{% for field in historial_madre_form %}
	  			<div class="row">		  			
		  			<div class="form-group span6">
			    		<label for="code" class="col-xs-2" style="width: 20%;">{{field.label}}</label>			      		
			      		{% if field.label == "Indique si durante el embarazo sufrio algunas de las siguientes enfermedades?" %}	
			    			{% for choice in field.field.choices%}			    				
			    				{%if choice.0 == 'ninguna_enf' or choice.0 == 'proble_azucar' %}<label class="checkbox-inline" style="margin-left: 3%;">{% else %}<label class="checkbox-inline">{% endif %}
								  	<input type="checkbox" id="{{choice.0}}" value="{{choice.0}}" style="margin: 3px 0px 0px -90px; cursor: pointer;"> {{choice.1}}
								</label>								
			    			{% endfor%}
			      		{% elif field.label == "Tuvo usted alguna defuncion fetal antes de concebir al bebe/ninio(a) que trae a consulta?" or field.label == "Ha tenido hijos muertos?" or field.label == "Utilizo algun metodo anticonceptivo antes de estar embarazada?" %}
			      			{% for choice in field.field.choices%}
			    				<label class="radio-inline" style="margin: 5px 0px 10px;">
								  	<input type="radio" name="inlineRadioOptions" id="{{choice.0}}" value="{{choice.0}}" style="cursor: pointer;"> {{choice.1}}
								</label>
			    			{% endfor%}
			      		{% else %}
			      		{{ field }}	
			      		{% endif %}	      		
	      			</div>
	      		</div>
	      	{% endfor %}	
		</div>	
	</div>

	<div id="panel6" class="hide panel panel-default">
 		<div class="panel-heading">Desarrollo de la Gestación</div>
		<div class="panel-body">			
			{% for field in madre %}
	  			<div class="row">		  			
		  			<div class="form-group span6">
			    		<label for="code" style="width: 20%;">{{field.label}}</label>
			      		{{ field }}			      		
	      			</div>
	      		</div>
	      	{% endfor %}
		</div>
	</div>

	<div id="panel7" class="hide panel panel-default">
 		<div class="panel-heading">Nacimiento</div>
		<div class="panel-body">			
			{% for field in nacimiento %}
		  		<div class="form-group">
					<label for="code">{{field.label}}</label> <br/>
					{{ field }}			<br/>      		
	      		</div>
	  		{% endfor %}
		</div>
	</div>
	<div id="panel8" class="hide panel panel-default">
		<div class="panel-heading">Datos del Recién Nacido</div>
		<div class="panel-body">			
			{% for field in recien_nacido %}
			
		  	<div class="form-group">
				{% if forloop.counter == 8 %}
					<div id="otra-complicacion" style="display: none;">
						{{ field }}
					</div>
				{% else %}
					<label for="code">{{field.label}}</label> <br/>
					{{ field }}		      		
				{% endif %}

	      	</div>
	      	{% endfor %}
		</div>
	</div>
	<div id="panel9" class="hide panel panel-default">
		<div class="panel-heading">Primeros Días de Vida del Niño</div>
		<div class="panel-body">			
			{% for field in primeros_dias %}
			
		  	<div class="form-group">
				{% if forloop.counter == 5 or forloop.counter == 9 %}
					<div style="display:none;">
						{{ field }}
					</div>
				{% else %}
					<label for="code">{{field.label}}</label> <br/>
					{{ field }}		
				{% endif %}
	      	</div>
	      	{% endfor %}
		</div>
	</div>

	<div id="panel10" class="hide panel panel-default">
		<div class="panel-heading">Alimentación y Costumbres</div>
		<div class="panel-body">			
			{% for field in alimentacion %}
				
		  		<div class="form-group">
					{% if forloop.counter == 4 or forloop.counter == 6 or forloop.counter == 8 or forloop.counter == 11 %}
						<div style="display:none;">
							{{field}}
						</div>
					{% else %}
						<label for="code">{{field.label}}</label> <br/>
						{{ field }}	
					{% endif %}

	      		</div>
				{% if forloop.counter == 20 %}
					<div id="suplementos-formset" style="display: none;">
						<h4>Suplementos</h4>
						{{ suplementos_formset.management_form }}
						<table class="table table-bordered table-condensed">
							<tr>
								<th>Frecuencia</th>
								<th>Tipo</th>
								<th>Cantidad</th>
							</tr>
							{% for form in suplementos_formset %}
								{{ form.id }}
								<tr>
									<td>{{form.frecuencia}}</td>
									<td>{{form.tipo}}</td>
									<td>{{form.cantidad}}</td>
								</tr>
							{% endfor %}
						</table>
					</div>		
				{% endif %}

			
	      	{% endfor %}
		</div>
	</div>

	<div id="panel11" class="hide panel panel-default">
		<div class="panel-heading">Datos de Historia Clínica Familiar y Otra Información</div>
		<div class="panel-body">			
			{% for field in datos_familiares %}
		  		<div class="form-group">
					<label for="code">{{field.label}}</label> <br/>
					{{ field }}			<br/>      		
	      		</div>
				{% if forloop.counter == 1 %}
					<div id="hermanos-formset" style="display: none;">
						<h3>Hermanos</h3>
						{{ hermanos_formset.management_form }}
						<table class="table table-bordered table-condensed">
							<tr>
								<th>Nombres</th>
								<th>Apellidos</th>
								<th>Fecha de Nacimiento</th>
							</tr>
							{% for form in hermanos_formset %}
								{{ form.id }}
								<tr>
									<td>{{form.nombres}}</td>
									<td>{{form.apellidos}}</td>
									<td>{{form.fecha_nacimiento}}</td>
								</tr>
							{% endfor %}
						</table>
					</div>		
				{% endif %}
				
	      	{% endfor %}

			
		</div>
	</div>


	
	<!--ul class="pager">
		<li id="btn_previous" class="hide previous"><a href="#" onclick="javascript:previousPanel();">Anterior</a></li>
		<li id="btn_next" class="next"><a href="#" onclick="javascript:nextPanel();">Siguiente</a></li>
	</ul-->
	<input id="enviar" class="btn btn-default" type="submit" value="Guardar Datos">
	
</form>

{% endblock %}
