{% extends 'base.html' %}
{% block title %} Kinderzentrum - Ficha Clínica {% endblock %}

{% block css %}
	<link rel="stylesheet" href="/static/css/jquery-ui.css" />
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/registro.css" />      
{% endblock css %}

{% block js %}
<script>
  $(function() {

  	/* Creamos un widget de calendario con jquery-ui */
    $( ".datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: "1950:2012",
      // Podemos poner mas opciones
    });

    //ocultamos los campos que no son necesarios a menos que se realice una eleccion 
    $('[oculto=oculto]').parent().hide();
    //$('#id_descripcion_otros').parent().hide();
    //$('#id_descripcion_pregunta_4').parent().hide();

    /*	Si ha seleccionado la opcion de otros, entonces mostramos un casillero adicional
    	que permite describir de forma especifica la opcion "otros" */
    $('select[name=descripcion_pregunta_2]').change(function() { 
    	if ($(this).val() == 'otros'){
    		$('#id_descripcion_otros_2').parent().show();
    		$('#id_descripcion_otros_2').val("Especifique")
    		//console.log('mostrar casilla de otros');
    	}else{
    		$('#id_descripcion_otros_2').parent().hide();
    	}	
    });

    $('#id_descripcion_pregunta_3').on('change', function() {
   		valor_si_no = $('input[name=descripcion_pregunta_3]:checked', '#id_descripcion_pregunta_3').val(); 
   		if (valor_si_no == 'si'){
   			$('#id_descripcion_pregunta_4').parent().show();
   		}else{
   			$('#id_descripcion_pregunta_4').parent().hide();
   		}
	});

    $('input[name=descripcion_pregunta_5').on('click', function(e){
    	if(e.target.value == "rehabilitacion_fisica"){
    		if (e.target.checked)
    			$('#id_descripcion_tiempo_rehab_fisica').parent().show();
    		else
    			$('#id_descripcion_tiempo_rehab_fisica').parent().hide();
    	}else if(e.target.value == "estimulacion_temprana"){
    		if (e.target.checked)
    			$('#id_descripcion_tiempo_estimu_temprana').parent().show();
    		else
    			$('#id_descripcion_tiempo_estimu_temprana').parent().hide();
    	}
    });

    $('input[name=descripcion_pregunta_6]').on('click',function(e) { 
    	if (e.target.value == 'otro'){
    		if (e.target.checked){
    			$('#id_descripcion_otros_6').parent().show();
    			$('#id_descripcion_otros_6').val("Especifique")
    		}else
    			$('#id_descripcion_otros_6').parent().hide();
    		//console.log('mostrar casilla de otros');
    	}
    });

    $('select[name=descripcion_pregunta_8]').change(function() { 
    	if ($(this).val() == 'si'){
    		$('#id_descripcion_pregunta_8_1').parent().show();
    		$('#id_descripcion_pregunta_8_2').parent().show();
    		$('#id_descripcion_pregunta_8_3').parent().show();
    		$('#id_descripcion_pregunta_8_4').parent().show();
    		//console.log('mostrar casilla de otros');
    	}else{
    		$('#id_descripcion_pregunta_8_1').parent().hide();
    		$('#id_descripcion_pregunta_8_2').parent().hide();
    		$('#id_descripcion_pregunta_8_3').parent().hide();
    		$('#id_descripcion_pregunta_8_4').parent().hide();
    	}	
    });

  });


  </script>
{% endblock js %}

{% block content %}
<div class="dotstyle dotstyle-tooltip" style="margin: 4% 0px 1% 40%;">			
	<ul>
		<li id="nav1" onclick="setPanelVisible(1)" class="current" ><a href="#">Paciente</a></li>
		<li id="nav2" onclick="setPanelVisible(2)"><a href="#" >Familiares</a></li>
		<li id="nav3" onclick="setPanelVisible(3)"><a href="#">Médico</a></li>
		<li id="nav4" onclick="setPanelVisible(4)"><a href="#">Historial de la madre</a></li>
		<li id="nav5" onclick="setPanelVisible(5)"><a href="#">Datos del paciente</a></li>		
		<li id="nav6" onclick="setPanelVisible(6)"><a href="#">Datos de la madre</a></li>		
		<li id="nav7" onclick="setPanelVisible(7)"><a href="#">Datos del padre</a></li>		
		<li id="nav8" onclick="setPanelVisible(8)"><a href="#">Alimentación y Costumbres</a></li>		
	</ul>
</div>

<form action="." method="POST">
	{% csrf_token %}		

	<div id="panel1" class="show panel panel-default">
		<div class="panel-heading">Datos del Paciente</div>
		<div class="panel-body">			
	  		{% for field in ficha_datos_form %}
	  			<div class="row">
		  			<!--div class="form-group col-xs-7 col-lg-1"-->
		  			<div class="form-group span6">
			    		<label for="code" style="width: 20%;">{{field.label}}</label>
			    		{% if field.label == "Sexo" %}
			    			
			    			{% for choice in field.field.choices%}
			    				<label class="radio-inline" style="margin: 5px 0px 10px;">
								  	<input type="radio" name="inlineRadioOptions" id="{{choice.0}}" value="{{choice.0}}" style="margin-left: 0px; cursor: pointer;"> {{choice.1}}
								</label>
			    			{% endfor%}
			      		
			      		{% else %}
			      		{{ field }}
			      		{% endif %}
	      			</div>
	      		</div>
	      	{% endfor %}		   
		</div>
	</div>

	<div id="panel2" class="hide panel panel-default">
		<div class="panel-heading">Datos Familiares</div>
		<div class="panel-body">			
			{% for field in ficha_datos_familia_form %}
	  			<div class="row">		  			
		  			<div class="form-group span6">
			    		<label for="code" style="width: 20%;">{{field.label}}</label>
			      		{{ field }}			      		
	      			</div>
	      		</div>
	      	{% endfor %}
		</div>
	</div>

	<div id="panel3" class="hide panel panel-default">
		<div class="panel-heading">Datos del M&eacute;dico</div>
		<div class="panel-body">			
			{% for field in ficha_datos_medico_form %}
	  			<div class="row">		  			
		  			<div class="form-group span6">
			    		<label for="code" style="width: 20%;">{{field.label}}</label>
			      		{{ field }}			      		
	      			</div>
	      		</div>
	      	{% endfor %}
		</div>
	</div>


	<div id="panel4" class="hide panel panel-default">
		<div class="panel-heading">Descripcion Paciente</div>
		<div class="panel-body">			
			{% for field in descripcion_paciente %}
	  			<div class="row">		  			
		  			<div class="form-group span6">
			    		<label for="code" style="width: 20%;">{{field.label}}</label>
			      		{{ field }}			      		
	      			</div>
	      		</div>
	      	{% endfor %}
		</div>
	</div>

	<div id="panel5" class="hide panel panel-default">
		<div class="panel-heading">Historial de la Madre</div>
		<div class="panel-body">			
			{% for field in historial_madre_form %}
	  			<div class="row">		  			
		  			<div class="form-group span6">
			    		<label for="code" style="width: 20%;">{{field.label}}</label>
			      		{{ field }}			      		
	      			</div>
	      		</div>
	      	{% endfor %}	
		</div>	
	</div>

	<div id="panel5" class="hide panel panel-default">
		<div class="panel-heading">Datos del Paciente</div>
		<div class="panel-body">			
			{% for field in paciente %}
	  			<div class="row">		  			
		  			<div class="form-group span6">
			    		<label for="code" style="width: 20%;">{{field.label}}</label>
			      		{{ field }}			      		
	      			</div>
	      		</div>
	      	{% endfor %}
		</div>
	</div>

	<div id="panel6" class="hide panel panel-default">
 		<div class="panel-heading">Datos de la Madre</div>
		<div class="panel-body">			
			{% for field in madre %}
	  			<div class="row">		  			
		  			<div class="form-group span6">
			    		<label for="code" style="width: 20%;">{{field.label}}</label>
			      		{{ field }}			      		
	      			</div>
	      		</div>
	      	{% endfor %}
		</div>
	</div>

	<div id="panel7" class="hide panel panel-default">
		<div class="panel-heading">Datos del Padre</div>
		<div class="panel-body">			
			{% for field in padre %}
	  			<div class="row">		  			
		  			<div class="form-group span6">
			    		<label for="code" style="width: 20%;">{{field.label}}</label>
			      		{{ field }}			      		
	      			</div>
	      		</div>
	      	{% endfor %}
		</div>
	</div>

	<div id="panel8" class="hide panel panel-default">
		<div class="panel-heading">Alimentación y Costumbres</div>
		<div class="panel-body">			
			{% for field in alimentacion %}
			
		  	<div class="form-group">
			    <label for="code">{{field.label}}</label> <br/>
			    {{ field }}			<br/>      		
	      	</div>
	      	{% endfor %}
		</div>
	</div>


	
	<!--ul class="pager">
		<li id="btn_previous" class="hide previous"><a href="#" onclick="javascript:previousPanel();">Anterior</a></li>
		<li id="btn_next" class="next"><a href="#" onclick="javascript:nextPanel();">Siguiente</a></li>
	</ul-->
	<input id="enviar" class="hide btn btn-default" type="submit" value="Guardar Datos">
	
</form>

{% endblock %}
