<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="es">
<head>
    <title> {% block title %} Kinderzentrum {% endblock %}</title>
        <link rel="stylesheet" href="/static/css/jquery-ui.css" />
        <link rel="stylesheet" href="/static/css/bootstrap.css" />
        <link rel="stylesheet" href="/static/css/base.css" />
        <!--
        <link rel="stylesheet" href="/static/css/cita.css" />
        <link rel="stylesheet" href="/static/css/dataTables.bootstrap.css">
        <link rel="stylesheet" href="/static/css/buttons.bootstrap.css">
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/t/bs/jqc-1.12.0,pdfmake-0.1.18,dt-1.10.11,b-1.1.2,b-colvis-1.1.2,b-html5-1.1.2,b-print-1.1.2,r-2.0.2,se-1.1.2/datatables.min.css"/>
        <link rel="stylesheet" href="/static/css/editor.bootstrap.css">
        <link rel="stylesheet" href="/static/css/dataTables.editor.css">
        <link rel="stylesheet" href="/static/css/editor.dataTables.css">
        <link rel="stylesheet" href="/static/css/chosen.css">-->
    {% block css %}

    {% endblock css %}
     <script src="/static/js/jquery-1.9.1.js"></script>
        <script src="/static/js/jquery-ui.js"></script>
        <script src="/static/js/bootstrap.js"></script>
        <script src="/static/js/registro.js"></script>
        
        <script src="/static/js/modernizr.min.js"></script>
        <!--
        <script src="/static/js/dataTables.bootstrap.js"></script>
        <script src="/static/js/jquery.dataTables.js"></script>
        <script src="/static/js/buttons.bootstrap.js"></script>
        <script src="/static/js/cita.js"></script>
        <script type="text/javascript" src="https://cdn.datatables.net/t/bs/jqc-1.12.0,pdfmake-0.1.18,dt-1.10.11,b-1.1.2,b-colvis-1.1.2,b-html5-1.1.2,b-print-1.1.2,r-2.0.2,se-1.1.2/datatables.min.js"></script>
        <script src="/static/js/editor.bootstrap.js"></script>
        <script src="/static/js/dataTables.editor.js"></script>
        <script src="/static/js/chosen.jquery.js"></script>-->

    {% block js %}
       

    {% endblock js %}
</head>

<body>
<header>

	<h1> Kinderzentrum </h1>
	
	<nav class="navbar navbar-default">
		<div class="container-fluid">

			<div class="navbar-header">
		      <a class="navbar-brand" href="{% url 'index_view' %}">
		      	<img src="../static/images/home.png" width=30 height=30 style="margin-top:-5px;">
		      </a>
		    </div>

			<ul class="nav navbar-nav">
				{% if pagina_actual %}
				{% if pagina_actual == "inicio" %}
				<li class="active">{% else %}<li>{% endif %}
					<a href="{% url 'index_view' %}"> Inicio </a>
				</li>
				{% else %}				
				<li class="active"><a href="{% url 'index_view' %}"> Inicio </a></li>
				{% endif %}

				{% if user.is_authenticated %}
					<!--Con la variable perms accedemos a los diferentes permisos que contiene el usuario actual de la sesion-->
					{% if perms.registro %}
					{% if pagina_actual == "registro" %}<li class="active dropdown">{% else %}<li class="dropdown">{% endif %}
					<a class="dropdown-toggle" data-toggle="dropdown" href="#"> Registro <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="{% url 'registro_view' %}">Registro de ficha medica</a></li>
							<li><a href="#">Actualizacion ficha médica</a></li>	
							<li><a href="#">Consulta ficha médica</a></li>			            
				        </ul>
					</li>
					{% endif %}

					
					<li  {% if pagina_actual == "cita" %} class="active" {% endif %}><a href="{% url 'reservar_cita_view' %}">Cita</a></li>
					
					
				{% endif %}

				<li><a href="{% url 'admin_usuarios' %}">Administración de usuarios</a></li>
				<li><a href="{% url 'pago' %}">Pagos</a></li>
				<li><a href="{% url 'lista_asistencia' %}">Asistencia paciente</a></li>
				<li><a href="#"> Acerca de </a></li>

				
			</ul>
			<ul class="nav navbar-nav navbar-right">		      			      	
		      	{% if user.is_authenticated %}
				<li><a href="{% url 'logout_view' %}"><span class="glyphicon glyphicon-log-out"></span> Logout - {{user.first_name}}</a></li>
				{% else %}
				<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
				<li><a href="{% url 'login_view' %}"><span class="glyphicon glyphicon-log-in"></span> Login </a></li> 
				{% endif %}
		    </ul>
		</div>
	</nav>
</header>

<section>
	<h2>{{ advertencia }}</h2>
	{% block content %}
	{% endblock %}
    {% block script %}
    {% endblock script %}
</section>

</body>
</html>




