<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="es">
<head>
    <title> {% block title %} Kinderzentrum {% endblock %}</title>
    
    {% block css %}
    <link rel="stylesheet" href="/static/css/jquery-ui.css" />
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/base.css" />
    {% endblock css %}

	<script src="/static/js/jquery-1.9.1.js"></script>
	<script src="/static/js/jquery-ui.js"></script>	
    <script src="/static/js/bootstrap.js"></script>
    <script src="/static/js/registro.js"></script>
    <script src="/static/js/modernizr.min.js"></script>
    {% block js %}
    {% endblock js %}
</head>

<body>
<header>

	<h1> Kinderzentrum </h1>
	
	<nav class="navbar navbar-default">
		<div class="container-fluid">

			<div class="navbar-header">
		      <a class="navbar-brand" href="{% url 'index_view' %}">
		      	<img src="../static/images/home.png" width=30 height=30 style="margin-top:-5px;">
		      </a>
		    </div>

			<ul class="nav navbar-nav">
				{% if pagina_actual %}
				{% if pagina_actual == "inicio" %}
				<li class="active">{% else %}<li>{% endif %}
					<a href="{% url 'index_view' %}"> Inicio </a>
				</li>
				{% else %}				
				<li class="active"><a href="{% url 'index_view' %}"> Inicio </a></li>
				{% endif %}

				{% if user.is_authenticated %}
					<!--Con la variable perms accedemos a los diferentes permisos que contiene el usuario actual de la sesion-->
					{% if perms.registro %}
					{% if pagina_actual == "registro" %}<li class="active dropdown">{% else %}<li class="dropdown">{% endif %}
					<a class="dropdown-toggle" data-toggle="dropdown" href="#"> Registro <span class="caret"></a>
						<ul class="dropdown-menu">
							<li><a href="{% url 'registro_view' %}">Registro de ficha medica</a></li>
							<li><a href="#}">Actualizacion ficha medica</a></li>
							<li><a href="#">Documentos</a></li>
							<li><a href="#">Mas opciones</a></li>				            
				        </ul>
					</li>
					{% endif %}
					{% if resumen %}
					<li><a href="#"> Resumen </a></li>
					{% endif %}
				<li><a href="#"> Información </a></li>
				{% endif %}

				<li><a href="{% url 'admin_usuarios' %}">Administración de usuarios</a></li>
				
				<li><a href="#"> Acerca de </a></li>

				
			</ul>
			<ul class="nav navbar-nav navbar-right">		      			      	
		      	{% if user.is_authenticated %}
				<li><a href="{% url 'logout_view' %}"><span class="glyphicon glyphicon-log-out"></span> Logout - {{user.first_name}}</a></li>
				{% else %}
				<li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
				<li><a href="{% url 'login_view' %}"><span class="glyphicon glyphicon-log-in"></span> Login </a></li> 
				{% endif %}
		    </ul>
		</div>
	</nav>
</header>

<section>
	<h2>{{ advertencia }}</h2>
	{% block content %}
	{% endblock %}
</section>

</body>
</html>
