{% extends 'base.html' %}
{% block title %} Kinderzentrum - Reservar cita {% endblock %}
{% block css %}
	<link rel="stylesheet" href="/static/css/jquery-ui.css" />
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <link rel="stylesheet" href="/static/css/cita.css" />
{% endblock css %}

{% block js %}
<script>
  $(function() {
    $( ".datepicker" ).datepicker({
      changeMonth: true,
      changeYear: true,
      yearRange: "1950:2012",
      // Podemos poner mas opciones
    });
  });
  </script>
{% endblock js %}

{% block content %}
<form action="." method="POST">
	{% csrf_token %}	

	<div class="progress">
		<div id="progress-bar" class="progress-bar progress-bar-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" style="width:0%">
			0%
		</div>
	</div>

	<div id="panel1" class="show panel panel-default">
		<div class="panel-heading">Datos de la cita</div>
		<div class="panel-body">{{ ficha_atender_cita_form.as_p }}</div>
	</div>

	<ul class="pager">
		<li id="btn_previous" class="hide previous"><a href="#" onclick="javascript:previousPanel();">Anterior</a></li>
		<li id="btn_next" class="next"><a href="#" onclick="javascript:nextPanel();">Siguiente</a></li>
	</ul>
	<input id="enviar" class="hide btn btn-default" type="submit" value="Guardar Datos">
	
</form>


{% endblock %}
