{% extends 'base.html' %}
{% block title %} Kinderzentrum - Lista de Citas {% endblock %}

{% block css %}
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
{% endblock css %}

{% block js %}
<script type = "text/javascript">
	$(document).ready(function(){ 	
    	var cita_id;
        var terapista;
        var tipo_terapia;
    	var paciente;
    	var fecha_cita;
    	var hora_inicio;
    	var hora_fin;
    	var indicaciones;
    	var estado;
    	var terapista_id;
    	var tipo_terapia_id;
		var paciente_id;
	    /*$("#busqueda").keyup(function () {
		 var busqueda = $(this).val();*/
	    //*$("#buscarfecha").click(function () {*/
	   	$("#busqueda").change(function () {
		 var busqueda = $("#busqueda").val();
		 $.ajax({
			 method: "POST",
			 url: "{% url 'busqueda_citas' %}",
			 data: {busqueda: busqueda, csrfmiddlewaretoken: "{{ csrf_token }}"},
			 dataType: "json"
		 })
		  .done(function( data ) {
			  var filas = $(".row-hermanos");
			  filas.remove();
			  console.log( data );

              $.each(data, function(i, Cita){
				  var tr = $("<tr></tr>");
				  tr.attr("class","row-hermanos");
				  //tr.attr("pk",cita.pk);
                  fecha_cita = $("<td></td>").text(Cita.fields.fecha_cita);
                  hora_inicio = $("<td></td>").text(Cita.fields.hora_inicio);
                  hora_fin = $("<td></td>").text(Cita.fields.hora_fin);
                  indicaciones = $("<td></td>").text(Cita.fields.indicaciones);
                  estado = $("<td></td>").text(Cita.fields.estado);
                  var link_cita = $("<a></a>").text("Editar");
                  link_cita.attr('href','cita/citas/edit/'+Cita.pk);
                  var editar = $("<td></td>").append(link_cita); 
                  terapista_id = Cita.fields.terapista;
                  tipo_terapia_id = Cita.fields.tipo_terapia;
                  paciente_id = Cita.fields.paciente; 

                  $.ajax({
			        method: "POST",
			        url: "{% url 'busqueda_terapista' %}",
			        data: {terapista_id: terapista_id, csrfmiddlewaretoken: "{{ csrf_token }}"},
			        dataType: "json"
		           })
                  .done(function( data ) {
                  	 
                     $.each(data, function(i, Terapista){
                      terapista = $("<td></td>").text(Terapista.fields.nombres + " " + Terapista.fields.apellidos);
                   });
                   });
                  
                  $.ajax({
			        method: "POST",
			        url: "{% url 'busqueda_tipoterapia' %}",
			        data: {tipo_terapia_id: tipo_terapia_id, csrfmiddlewaretoken: "{{ csrf_token }}"},
			        dataType: "json"
		           })
                  .done(function( data ) {
                  	 
                     $.each(data, function(i, Tipo_terapia){
                     tipo_terapia = $("<td></td>").text(Tipo_terapia.fields.nombre);
                   });
                   });

                  $.ajax({
			        method: "POST",
			        url: "{% url 'busqueda_paciente' %}",
			        data: {paciente_id: paciente_id, csrfmiddlewaretoken: "{{ csrf_token }}"},
			        dataType: "json"
		           })
                  .done(function( data ) {
                                       	 
                     $.each(data, function(i, Paciente){
                     paciente = $("<td></td>").text(Paciente.fields.nombres + " " +Paciente.fields.apellidos);
                   });
                   });

				  tr.append(fecha_cita); 
				  tr.append(hora_inicio); 
				  tr.append(hora_fin);
                  tr.append(terapista);
				  tr.append(tipo_terapia);
				  tr.append(paciente); 
				  tr.append(indicaciones); 
                  tr.append(estado);   
                  tr.append(editar);

				  /*$("table").append(tr);*/
				  $("#citatable").append(tr);
			  });
		  });
	 });

	 $(".btn-delete").on("click", function(arg) {
         cita_id = $(this).data("citaId");
		 $("#cita_name").html($(this).data("citaNombre"));
		 $('#delete-modal').modal();
	 });

	 $("#btn-modal-accept").on("click", function(arg){
		 console.log(cita_id);
		 $("#cita_"+cita_id).remove();
		 $.ajax({
			 method: "POST",
			 url: "{% url 'cita_delete_view' %}",
			 data: {cita_id: cita_id, csrfmiddlewaretoken: "{{ csrf_token }}"},
			 dataType: "json"
		 }).done(function(data){
			 console.log(data);
		 });
	 });
 });
</script>



{% endblock js %}

{% block title_name %}: Citas{% endblock %}


{% block content %}

<div class="container">
<input type="text" id="busqueda" class="datepicker3 form-control" style="height:40%;width:98%;" placeholder="Por favor hacer click aqu&iacute; para buscar una cita por fecha" readonly />
<br />
<br />
<table id = "citatable" class="table table-bordered table-condensed">
	<tr>
		<th>Fecha cita</th>
		<th>Hora inicio</th>
		<th>Hora fin</th>
		<th>Terapista</th>
		<th>Tipo terapia</th>
		<th>Paciente</th>
		<th>Indicaciones</th>
		<th>Estado</th>
		<th>Editar</th>
		<th>Eliminar</th>
	</tr>

	{% for cita in object_list %}
		<tr class="row-hermanos" id="cita_{{cita.id}}">
			<!-- <td><a href="{#% url 'cita_view' cita.id %#}">paciente.nombres</a></td> -->
			<td>{{cita.fecha_cita}}</td>
			<td>{{cita.hora_inicio}}</td>
			<td>{{cita.hora_fin}}</td>	
			<td>{{cita.terapista}}</td>	
			<td>{{cita.tipo_terapia}}</td>
			<td>{{cita.paciente}}</td>	
			<td>{{cita.indicaciones}}</td>
			<td>{{cita.estado}}</td>	

			<td><a href="{% url 'cita_edit' cita.id %}" class="btn btn-primary btn-sm">Editar</a></td>
			<td><button class="btn btn-danger btn-sm btn-delete" data-cita-id="{{cita.id}}" data-cita-nombre="{{cita.paciente}}">Eliminar</button></td>
		</tr>
	{% empty %}
		<h3>No hay citas </h3>
	{% endfor %}
</table>
<br>
</div>
<div id="delete-modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Eliminar cita</h4>
      </div>
      <div class="modal-body">
          <p>¿Eliminar cita <span id="cita_name"></span>?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
        <button id="btn-modal-accept" type="button" class="btn btn-primary" data-dismiss="modal">Aceptar</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}

{% block script %}
 <script src='/static/js/cita.js'></script> 
{% endblock script %}