{% extends 'base.html' %}

{% block title %} Kinderzentrum - Reservar cita {% endblock %}
{% block css %}

    <link rel="stylesheet" href="/static/css/jquery-ui.css" />
    <link rel="stylesheet" href="/static/css/bootstrap.css" />
    <!--
    <link href="http://netdna.bootstrapcdn.com/twitter-bootstrap/2.2.2/css/bootstrap-combined.min.css" rel="stylesheet"/>    
    <link rel="stylesheet" type="text/css" media="screen"
    href="/static/css/bootstrap-datetimepicker.min.css"/>
    -->
    <link rel="stylesheet" href="/static/css/cita.css" />
    <link rel="stylesheet" href="/static/css/calendar.css" />

{% endblock css %}

{% block content %}

<div class="dotstyle dotstyle-tooltip" style="margin: 4% 0px 1% 40%;">      
  <ul id="dots_nav">
    <li id="nav1" onclick="setPanelVisible(1)" class="current" ><a href="#">Reservar Cita</a></li>
    <li id="nav2" onclick="setPanelVisible(2)"><a href="#" >Consultar Citas</a></li>
  </ul>
</div>

<form action="." method="POST">
	{% csrf_token %}	
    <div id="panel1" class="show panel panel-default">
		<div class="panel-heading">Datos de la cita</div>
    <div class="panel-body">    
         {% for field in ficha_datos_form %}
              <div class="row">           
               <div class="form-group span6">
                  <label for="code" style="width: 20%;">{{field.label}}</label>
                    {{ field }}  
               </div>
              </div>
         {% endfor %}
        </div>
      </div>
	<input id="enviar" class="btn btn-default" type="submit" value="Guardar Datos"/>	
</form>

{% endblock %}

{% block js %}

{% endblock js %}