{% extends 'base.html' %}
{% block title %} Kinderzentrum - Reservar cita {% endblock %}
{% block css %}

  <link rel='stylesheet' type='text/css' href='/static/css/cita/reset.css' />
  
  <link rel='stylesheet' type='text/css' href='/static/css/cita/jquery-ui.css' />

  <link rel='stylesheet' type='text/css' href='/static/css/cita/jquery.weekcalendar.css' />
  
  <link rel='stylesheet' type='text/css' href='/static/css/cita/demo.css' />  
   
{% endblock css %}

{% block js %}

  <script type='text/javascript' src='/static/js/cita/jquery.min.js'></script>


  <script type='text/javascript' src='/static/js/cita/jquery-ui.min.js'></script>


  <script type='text/javascript' src='/static/js/cita/jquery.weekcalendar.js'></script>

    
  <script type='text/javascript' src='/static/js/cita/demo.js'></script>
    

{% endblock js %}

{% block title_name %}: Agendar citas {% endblock %}

{% block content %}


  <div id='calendar'></div>
  <div id="event_edit_container">
    <form>
      <input type="hidden" />
      <ul>
        <li>
          <span>Date: </span><span class="date_holder"></span>
        </li>
        <li>
          <label for="start">Start Time: </label><select name="start"><option value="">Select Start Time</option></select>
        </li>
        <li>
          <label for="end">End Time: </label><select name="end"><option value="">Select End Time</option></select>
        </li>
        <li>
          <label for="title">Title: </label><input type="text" name="title" />
        </li>
        <li>
          <label for="body">Body: </label><textarea name="body"></textarea>
        </li>
      </ul>
    </form>
  </div>
  <div id="about">

  </div>

{% endblock %}
